<div class="card border-light mb-3" style="max-width: 1650px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img width="352.33" height="352.33" class="managementCardPicture"src={{img}} alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title">{{title}}</h2>
          <p class="managementCardSecondHeading">{{subheading}}</p>
          <div class="card-text-container">
            <p class="card-text ">{{bodyInfo}}</p>
          </div>
          <button type="button" class="btn btn-outline-secondary rounded-pill btn-lg managementCardButton">Learn More</button>

       
        </div>
      </div>
    </div>
  </div>