<div class="d-flex justify-content-center">
    <div class="d-flex flex-row blue-container">
        <div class="textHolder flex-column ">
            <p class="first-blue-card-text text-end p-2" ><strong><em>“Roompact has allowed us to see our students in a different light. Instead of emails passed from person to person, we can review a student file and see multiple interaction points at varying times of the semester. This allows us to better serve our students and create efficiencies in our communication.”</em></strong></p>
            <p class="first-blue-card-text text-end p-2" ><strong>Tanya Massey, Oklahoma State University</strong></p>
        </div>
        <div class="flex-column">
            <img class="blue-card-image" width="410.2" height = "328.5" src="./assets/Tanya-Massey.png">
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <div class="d-flex flex-row">
        <div class="flex-column">
            <div class = "p-2 columnHeader">
                <h4 class="text-spacer">Students of Concern</h4>
            </div>
            <div class = "d-flex p-2 bodyTextContainer justify-content-center">
                <p class="body-text-spacer">Coordinate follow-ups and provide critical information for your CARE Team. 
                    With Roompact, you’ll have all of your notes in one place and staff can log 
                    their follow-ups so you’re ready to provide updates at that next meeting.</p>
            </div>
        </div>
        <div class="flex-column">
            <div class = "p-2 columnHeader">
                <h4 class="text-spacer-2">Visual Layouts</h4>
            </div>
            <div class = "d-flex p-2 bodyTextContainer justify-content-center">
                <p class="body-text-spacer">See your buildings, floors, rooms, and students at a glance and 
                    interpret them easily with our visual layouts. You can also import resident photos or allow 
                    residents to upload their own.</p>
            </div>
        </div>
        <div class="flex-column">
            <div class = "p-2 columnHeader">
                <h4 class="text-spacer-3">Tailored Email Notifications</h4>
            </div>
            <div class = "d-flex p-2 bodyTextContainer justify-content-center">
                <p class="body-text-spacer">With Roompact, you can make granular email notifications in just a click. 
                    Need a duty report sent to you every morning for the buildings you oversee? Easy peasy.</p>
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-row justify-content-center blue-container-2">   
    <div class="d-flex flex-column justify-content-center">
        <h2 class="p-2 text-color header-padding">Find out how Roompact’s experts can help!</h2>
        <p class="p-2 text-color bodyText">Reach out and request a video demonstration or a consult to take a look at our software.</p>
        <div class="d-flex flex-row justify-content-center p-2"><a class="p-2 text-color">Request a Demo</a><a class="p-2 text-color" >Learn More</a></div>
    </div>
</div> 