p {
    text-align: center;
    color: yellow;
    background-color: blue;
  }

.important {
    color: red
}

div.important{
    background-color: royalblue;
}
.primaryNav {
    background-color: #0c1f30;
}